# GitHub App
GITHUB_APP_ID=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_APP_PRIVATE_KEY_PATH=

# Auth
JWT_SECRET=

# LLM Translation
DEEPSEEK_API_KEY=

# Current IP Address of the server
FRONTEND_URL=

HTTPS_PROXY=